.general {
  &__logo {
    margin-bottom: 30px;
    margin-left: 20px;
  }

  &__wrap {
     margin-left: 250px;
     min-height: 100vh;
     background-color: #FBFBFB;
      padding: 10px 0;

    .hidden {
      display: none;
    }
  }

  &__usergeneral {
   padding: 20px 50px;
  }

  &__flex-general {
    margin-top: 0px;
    display: flex;
    justify-content: start;
    align-items: center;

    img {
      object-fit: cover;
      max-width: 100%;
      margin-right: 30px;
    }

    a {
      color: #3048b5;
      font-size: 14px;
      font-weight: 500;
    }

     .arrow-back {
      display: none;
      padding-right: 20px;
      font-size: 20px;
       color: #3048b5;
    }
  }

  &__dashboard-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    select{
      padding: 20px;
      border-width: 1px;
      border-color: #E3E8EC;
      background-color: #FBFBFB;
      outline: #E3E8EC;
    }
  }

  &__dashboard-stats{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 30px 0;

    .dashboard-div{
      background-color: #fff;
      height: 100.00038px;
      width: 250.00094px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 30px;
    }
  }


  &__title {
    color: #3048B5;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 0;
  }

  &__subtitle {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
  }

  &__left-btn{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
  }

  &__btn {
    height: 50px;
    width: 213px;
    border-radius: 5px;
    background: #3048b5;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    
  }

  &__white-btn{
    background: #fff !important;
    border: 1px solid #3048b5;
    color: #3048b5 !important
    ;
  }

  
}


@media screen and (max-width: 1026px) {
 
  .general__usergeneral {
    padding: 30px;
  }

  .general__dashboard-stats {
    flex-wrap: wrap;
    margin: 30px 0;

     .dashboard-div {
       margin-bottom: 30px;
     }
}
}
@media screen and (max-width: 768px) {
   .general__wrap {
     min-height: 100vh;
     margin-left: 80px;
     margin-right: auto;

    
   }

   .general__usergeneral{
     padding: 30px;
   }
  
}

@media screen and (max-width: 550px) {
  .general__wrap {
        .side-bar {
          display: none;
        }
   
  }

  .general__wrap {
    min-height: 100vh;
    margin-left: 0px;
    margin-right: auto;
  
     .arrow-back {
       display: block;
     }
  }
  
  .general__usergeneral {
    padding: 20px;
  }

}

@media screen and (max-width: 350px) {

  .general__usergeneral {
    padding: 0 10px;
  }
  .general__title {
    color: #142367;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;
  }

  .general__subtitle {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
  }
}
