.navbar {
  &__container {
    width: 100%;
    padding: 0;
    margin-left: 0px;
    min-height: 70px;
    position: sticky;
    -webkit-position: sticky;
    top: -12px;
    z-index: 100;
    color: rgb(22, 13, 13);
    text-align: center;
    -webkit-backface-visibility: hidden;
  }

  &__container::before,
  &__container::after {
    content: '';
    display: block;
    height: 10px;
    position: sticky;
    -webkit-position: sticky;

  }

  &__container::before {
    top: 78px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  &__container::after {
    background: linear-gradient(white 10%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0.4) 70%,
        transparent);
    top: 0;
    height: 5px;
    z-index: 2;
  }

  &__profile-div {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__wrap {
    background: #fff;
    padding-top: 30px;
    padding-right: 50px;
    min-height: 84px;
    position: sticky;
    -webkit-position: sticky;
    top: 0px;
    margin-top: -16px;
    z-index: 3;

    .dropdown-menu {
      margin-left: -50px;
      background: #ffffff;
      border: none;
      padding: 0;
      margin-top: 20px;
      border-radius: 6px;
    }

    .dropdown-item {
      padding: 12px 18px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #222222;

      &:hover {
        color: #16181b;
        text-decoration: none;
        background-color: rgba(#fff4f4, 0.5);
      }
    }




  }
}

@media screen and (max-width:550px){
  .navbar__wrap{
    padding-right: 20px;
  }
}