.billing {
  ul li:nth-child(2) {
    background: #efecff;
    z-index: 100;
  }
  ul li:nth-child(2):hover {
    background-color: #efecff;
  }

  &__content {
    height: 330px;
  }

  &__default {
    height: 32px;
    width: 100%;
    background: #efecff;
    padding: 0 20px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;

    a {
      color: #3048b5;
    }
  }
  &__card {
    padding: 20px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      margin-bottom: 25px;
      position: relative;
    }

    span {
      position: absolute;
      font-size: 24px;
      left: 0;
      top: 0;
    }

    p {
      margin-bottom: 15px;
      margin-left: 40px;
      font-size: 14px;
    }

    .bill-title {
      font-weight: 500;
    }

    .bill-address {
      width: 212px;
      line-height: 22px;
    }
  }

  &__card div:nth-child(3) {
    margin-bottom: 0;
    border: none;
  }

  &__edit {
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #3048b5;
  }
}

@media screen and (max-width: 300px) {
  .billing__content {
    height: 400px;
  }

  .billing__default {
    padding: 0 10px;
    font-size: 14px;
  }

  .billing__card {
    padding:15px 10px;
    height: 300px;
    justify-content: start;

    div {
      margin-bottom: 15px;
    }

    span {
      font-size: 20px;
    }

    p {
      margin-bottom: 15px;
      font-size: 14px;
    }
  }

  .billing__edit {
    bottom: -5%;
    right: 10%;
    font-size: 12px;
  }
}
