.payment {
  &__table-wrap {
    width: 100%;
    overflow-x: auto;

    .table-hover {
      white-space: nowrap;
      width: 100%;
    }

    th {
      border-top: hidden !important;
    }

    td,
    th {
      padding: 30px 40px !important;
      font-size: 16px;
    }

    td a {
      color: #3048b5;
    }

    .table tbody tr:hover td,
    .table tbody tr:hover th {
      background-color: #fff !important;
    }

     .table-head {
      text-align: left !important;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 768px) {
  .purchase__table-wrap {
    td,
    th {
      padding: 20px 30px !important;
      font-size: 16px !important;
    }

  }
}
@media screen and (max-width: 550px) {
  .purchase__table-wrap {
    td,
    th {
      padding: 20px 20px !important;
      font-size: 14px !important;
    }

    .purchase__form-content {
      padding: 40px 10px;
    }
  }
}

@media screen and (max-width: 414px) {
  .purchase__table-wrap {
    td,
    th {
      padding: 20px 10px !important;
    }
  }
}
