.account {
  &__container {
    width: 250px;
    height: 100%;
    padding: 20px 10px;
    margin-top: 60px;
    padding-top: 50px;
    margin-left: 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
  }

  
  &__title {
    color: #222222e5;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
  }

  &__lists {
    margin-top: 20px;

    .list-item {
      margin-top: 10px;
      line-height: 22px;
    }

    .list-item a {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 10px 10px;
    }

    .list-item .list-icon{
      margin-right: 20px;
    }

    .list-item .list-title{
      color: #142367;
    }

    .list-item .list-icon .fas{
      color: #142367;
    }
    .list-item a:hover {
      background-color: #f3f2fa;
    }

    .active {
      background: #efecff;
    }

    .active:hover {
      background-color: #efecff !important;
    }

    .account-link {
      display: none;
    }
  }
}


@media screen and (max-width: 768px) {
  .account__container {
    height: 100%;
    width: 80px;
    padding: 10px 0px;
    top: 9.5%;
    margin-top: 0px;
    margin-left: 0px;
    background: #fff;
    overflow: hidden;
    z-index: 50;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  
  }

  .account__title {
    display: none;
  }

  .side-bar.active {
    width: 500px;
  }

  .account__lists {
    margin-top: 100px;

    .list-item {
      margin-top: 25px;
      line-height: 40px;
    }

    .list-item a {
      color: #142367;
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 10px;
       padding: 10px 20px;
       display: flex;
       justify-content: start;
       align-items: center;
    }

    .list-item a .list-icon {
      position: relative;
      width: 80px;
      height: 60px;
      padding: 10px;
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .list-item a .list-icon img{
      width: 30px;
    }
    .list-item a .list-icon .fas {
      font-size: 30px;
    }

    .list-item a .list-title {
      position: relative;
      height: 60px;
      font-size: 30px;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .toggle {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #142367;
    border: 5px solid #142367;
  }

  .toggle::before {
    content: '\f054';
    font-family: fontAwesome;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 26px;
    color: #fff;
  }

  .toggle.active {
    left: 90%;
  }

  .toggle.active::before {
    content: '\f053';
  }

}

@media screen and (max-width: 560px) {
  .account__container {
    height: 100%;
    width: 100%;
    padding: 10px 0px;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    background: #fff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

   .account__title {
     display: block;
      color: #142367;
      font-weight: 500;
      font-size: 30px;
      padding: 10px;
   }

  .account__lists {
    margin-top: 15px;

    .list-item {
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 0px;
     
    }

    .list-item a{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px;
    }

    .list-item .fas {
      font-size: 20px;
    }

    .list-item-first {
      margin-top: 0;
    }

    .list-item-link {
      display: flex;
      justify-content: start;
      align-items: center;
      width: fit-content;
      height: 40px;
      color: #142367;
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 0px;
      padding: 0px 0px;
    }


     .list-item a .list-icon {
       position: relative;
       width: 80px;
       height: 0px;
       padding: 0px;
       margin-right: 0px;
       display: flex;
       justify-content: start;
       align-items: center;
     }

    .list-item-link .list-icon img{
      width: 20px;
    }
    .list-item-link .list-icon .fas {
      font-size: 20px;
    }

    .list-item a .list-title {
      position: relative;
      display: block;
      height: 0px;
      font-size: 25px;
      white-space: nowrap;
    }
  }

  .toggle{
    display: none;
  }
}

@media screen and (max-width: 376px) {
    .account__container {
    padding: 0px 20px;
    margin-top: 20px;
  }

  .account__title{
    font-size: 20px;
  }


  .account__lists {
    .list-item {
      padding: 5px;
    }

    .list-item a {
      padding: 5px 0px;
    }

     .list-item a .fas {
      font-size: 14px;
    }

    .list-item a .list-icon .fas{
      font-size: 20px;
    }
     .list-item a .list-icon img{
       width: 20px;
     }

    .list-item a .list-title {
      font-size: 16px;
    }
  }
}
