.account {
  &__container {
    width: 250px;
    height: 100%;
    padding: 20px 10px;
    margin-top: 100px;
    padding-top: 30px;
    margin-left: 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
  }

  &__title {
    color: #222222e5;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
  }

  &__lists {
    margin-top: 20px;

    .list-item {
      margin-top: 10px;
      line-height: 22px;
    }

    .list-item a {
      width: 100%;
      display: block;
      padding: 10px 20px;
    }

    .list-item a:hover {
      background-color: #f3f2fa;
    }

    .active {
      background: #efecff;
    }

    .active:hover {
      background-color: #efecff !important;
    }

    .account-link {
      display: none;
    }
  }
}


@media screen and (max-width: 768px) {
  .account__container {
    height: 100%;
    width: 100%;
    padding: 10px 0px;
    position: relative;
    margin-top: 150px;
    margin-left: 0px;
    background: #fff;
     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .account__title{
    font-size: 35px;
    color: #142367;
  }

  .account__lists {
    margin-top: 10px;
    

    .list-item {
      margin-top: 5px;
      margin-bottom: 20px;
      line-height: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .list-item a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding:40px 20px;
      color: #142367;
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 0px;

      .fa-chevron-right{
        font-size: 22px;
      }
    }
   
  
  }

}

@media screen and (max-width: 560px) {
  .account__container {
    padding: 0px 10px;
    margin-top: 30px;
  }

  .account__title{
    font-size: 30px;
  }

  .account__lists {

      .list-item a {
      padding:20px 20px;

      .fa-chevron-right{
        font-size: 22px;
      }
    }
    
    .list-item .fas {
      font-size: 16px;
    }


    .list-item a .list-title {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 376px) {
    .account__container {
    padding: 0px 10px;
    margin-top: 20px;
  }

  .account__title{
    font-size: 20px;
  }


  .account__lists {
    .list-item {
      padding: 5px;
    }

    .list-item a {
      padding: 20px 0px;
    }
     .list-item a .fas {
      font-size: 14px;
    }

    .list-item a .list-title {
      font-size: 16px;
    }
  }
}
