.edit {
  &__wrap {
    display: flex;
    position: relative;
  }

  &__logo {
    position: absolute;
    left: 57px;
    top: 60px;
  }

  &__form {
    max-width: 100%;
    width: 500px;
    margin: 150px auto;
    padding: 20px;
  }

  &__subtitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #142367;
    margin-bottom: 24px;
  }

  &__label {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: rgba(34, 34, 34, 0.7);
    margin-bottom: 8px;
  }

  &__input {
    border: 1px solid rgba(#3d3d3d, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    height: 54px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
  }

  &__btn-div {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    background: #3048b5;
    border-radius: 10px;
    height: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    width: 213px;
    border: none;
    color: #ffffff;
    margin-top: 48px;
  }

  &__white {
    background-color: #ffffff;
    color: #3048b5;
    border: 1px solid #3048b5;
  }
}

@media screen and (max-width: 768px) {
  .edit__img {
    display: none;
  }

  .edit__form-wrap {
    padding: 0 20px;
  }
}

@media screen and (max-width: 550px) {
  .edit__btn-div {
   display: block;
  }

    .edit__btn{
    width: 100%;
    margin-top: 30px;
  }

  .edit__form {
    margin: 120px auto;
  }
  
  .edit__logo {
    left: 40px;
    top: 40px;
    width: 120px;
  }

}

@media screen and (max-width: 412px) {
.edit__logo {
    left: 20px;
  }
 
}

